* {
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif;
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

header {
  width: 100%;
  height: 100vh;
  background-color: #1D1E22;
  color: #ffffff;
}

header .header__containerH1 {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 1;
}

header .header__containerH1 .header__h1--1 {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

header .header__containerH1 .header__h1--1 .h1__span {
  color: #4AB0D6;
  letter-spacing: 2px;
  font-size: 1.4rem;
  font-weight: 400;
}

header .header__containerH1 .header__h1--2 {
  font-size: .9rem;
  font-weight: 300;
}

header .header__containerH1 .header__button {
  margin-top: 4rem;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 5px 10px;
  color: white;
  position: relative;
  font-size: 1rem;
  -webkit-transition: .2s;
  transition: .2s;
}

header .header__containerH1 .header__button .fa-arrow-right {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: .2s;
  transition: .2s;
}

header .header__containerH1 .header__button:hover {
  background-color: #4AB0D6;
  border: 1px solid #4AB0D6;
}

header .header__containerH1 .header__button:hover .fa-arrow-right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

main .about {
  background-color: #1D1E22;
  color: #b9b9b9;
  padding-bottom: 100px;
}

main .about .about__wrapper {
  padding: 4rem 0;
  width: 80%;
  text-align: justify;
  margin: 0 auto;
}

main .about .about__wrapper .about__h3 {
  text-align: center;
  font-weight: 300;
  font-size: 1.7rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

main .about .about__wrapper .about__mainText {
  line-height: 1.6rem;
  letter-spacing: 1px;
}

main .skills {
  color: #1D1E22;
  background-color: #4AB0D6;
  position: relative;
}

main .skills .skills__section {
  z-index: 1;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  background-color: #fff;
  position: relative;
  top: -100px;
}

main .skills .skills__section .skills__h3 {
  text-align: center;
  font-weight: 300;
  font-size: 1.7rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

main .skills .skills__section .skills__wrapperBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .skills .skills__section .wrapperBox__skill {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  margin-bottom: 2rem;
}

main .skills .skills__section .wrapperBox__skill .fab {
  font-size: 4rem;
  margin: 1rem 0;
}

main .skills .skills__section .wrapperBox__skill .fa-html5,
main .skills .skills__section .wrapperBox__skill .description--html5 {
  color: #e34f26;
}

main .skills .skills__section .wrapperBox__skill .fa-css3-alt,
main .skills .skills__section .wrapperBox__skill .description--css3 {
  color: #264de4;
}

main .skills .skills__section .wrapperBox__skill .fa-js,
main .skills .skills__section .wrapperBox__skill .description--js {
  color: #F0DB4F;
}

main .skills .skills__section .wrapperBox__skill .fa-react,
main .skills .skills__section .wrapperBox__skill .description--react {
  color: #61DBFB;
}

main .skills .skills__section .wrapperBox__skill .fa-sass,
main .skills .skills__section .wrapperBox__skill .description--sass {
  color: #CD679A;
}

main .skills .skills__section .wrapperBox__skill .fa-git,
main .skills .skills__section .wrapperBox__skill .description--git {
  color: #F1502F;
}

main .skills .skills__section .wrapperBox__skill .skill__description {
  display: block;
  margin-bottom: 1rem;
}

main .skills .skills__section .wrapperBox__skill .skill__text {
  text-align: justify;
}

main .skills .skill__fill {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  background-color: #1D1E22;
}

main .projects {
  background-color: #1D1E22;
  color: #b9b9b9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem 0 4rem;
}

main .projects .projects__h3 {
  text-align: center;
  font-weight: 300;
  font-size: 1.7rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

main .projects .projects__container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .projects .projects__container .projects__example {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

main .projects .projects__container .projects__example .example__title {
  position: absolute;
  top: 20%;
  left: -100%;
  text-transform: uppercase;
  opacity: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  -webkit-transition: .4s;
  transition: .4s;
}

main .projects .projects__container .projects__example .example__show {
  position: absolute;
  display: block;
  bottom: 20%;
  right: -100%;
  z-index: 1;
  text-transform: uppercase;
  border: 2px solid #b9b9b9;
  padding: 10px 15px;
  background-color: transparent;
  color: #b9b9b9;
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

main .projects .projects__container .projects__example .example__show:hover {
  border: 2px solid #ea2027;
  background-color: #ea2027;
  color: white;
}

main .projects .projects__container .projects__example:hover::after {
  opacity: 0;
}

main .projects .projects__container .projects__example:hover .example__title {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
}

main .projects .projects__container .projects__example:hover .example__show {
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 1;
}

main .projects .projects__container .projects__example__first::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-image: url(../img/budget-app.png);
}

main .projects .projects__container .projects__example__second::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-image: url(../img/budget-app.png);
}

main .projects .projects__container .projects__example__third::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-image: url(../img/budget-app.png);
}

main .projects .projects__container .projects__example__fourth::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-image: url(../img/budget-app.png);
}

main .contact {
  height: 100vh;
  background-color: red;
}
/*# sourceMappingURL=main.css.map */