@import 'mixins';
@import 'variables';

.selectButton{
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 50px;
  background-color: $main-bg-color;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px
}

main{

  .about{
    background-color: $header-bg-color;
    color: $about-text-color;
    padding-bottom: 200px;
    // position: relative;
    overflow: hidden;
    

    .about__wrapper{
      padding: 4rem 0;
      width: 80%;
      text-align: justify;
      margin: 0 auto;

      .about__h3{
        @include articlesH3();
        position: relative;
        transform: translateX(-200%);
        transition: .6s;
      }

      .about__h3.active{
        transform: translateX(0);
      }

      .about__mainText{
        line-height: 1.6rem;
        letter-spacing: 1px;
        display: block;
        transform: scale(0);
        transition: .6s cubic-bezier(0.45, 0.41, 0, 1.6);;
      }

      .about__mainText.active{
        transform: scale(1);
      }
    }

    @media(min-width: $first-brake){
      .about__wrapper{
        width: 70%;

        .about__h3{
          font-size: 2rem;
        }
      }
    }

    @media(min-width: $second-brake){
      .about__wrapper{
       .about__mainText{
         letter-spacing: 1px;
         line-height: 2rem;
       }
      }
    }
  }

  .skills{
    color: $skill-text-color;
    // background-color: $main-bg-color;
    background-image: linear-gradient(to top, #067092 0%, #4AB0D6 100%);
    position: relative;

   
    .skills__section{
      z-index: 1;
      width: 80%;      
      margin: 0 auto;
      // border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.13);
      background-color: #fff;
      
      position: relative;
      top: -100px;
      opacity: 0;
      transition: .6s;
      // overflow: hidden;


     .skills__h3{
       @include articlesH3();
       transform: translateY(-100%);
       transition: .4s .6s;
      }

      .skills__h3.active{
        transform: translateY(0);
      }

      .skills__wrapperBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        -webkit-box-shadow: 0px 0px 66px 27px rgba(74,176,214,0.18);
        -moz-box-shadow: 0px 0px 66px 27px rgba(74,176,214,0.18);
        box-shadow: 0px 0px 66px 27px rgba(74,176,214,0.18);
      

        .wrapperBox__skill{
          flex-basis: 80%;
          text-align: center;
          border-top: 1px solid rgba(0, 0, 0, 0.13);
          // padding-bottom: 2rem;
          position: relative;
          overflow: hidden;
          transition: .4s;

          .fab{
            font-size: 3rem;
            margin: 1rem 0;
            transform: translateY(-150%);
            transition: .4s;
          }

          .png{
            transform: translateY(-150%);
            transition: .4s;
          }


          .fa-html5,
          .description--html5{
            color: #e34f26;
          }

          .fa-css3-alt,
          .description--css3{
            color: #264de4;
          }

          .fa-js,
          .description--js{
            color: #F0DB4F;
          }

          .fa-react,
          .description--react{
           color: #61DBFB;
          }

          .fa-sass,
          .description--sass{
            color: #CD679A;
          }

          .fa-git,
          .description--git{
            color: #F1502F;
          }

          .slideFromTop{
            transform: translateY(0);
          }

          .skill__imageIcon{
            width: 66px;
            margin: 1rem
          }

          .description--typescript{
            color: #007ACC;
          }

          .description--redux{
            color: #7749BD;
          }

          .skill__description{
            display: block;
            margin-bottom: 1rem;
            transform: scale(0);
            transition: transform .4s .4s;
            transition: letter-spacing .4s;
            font-weight: bold;
          } 


          .skill__text{
            text-align: justify;
            transform: scale(0);
            transition: .4s .8s;
          }

          .increase{
            transform: scale(1);
          }
        }

        .wrapperBox__skill:hover .fab{
          transform: rotate(10deg);
        }

        .wrapperBox__skill:hover .skill__imageIcon{
          transform: rotate(10deg);
        }

        .wrapperBox__skill:hover .skill__description{
          letter-spacing: 2px;
        }

        
      }
    }

    .skills__section.active{
      opacity: 1;
    }

    .skill__fill{
      width: 100%;
      height: 200px;
      position: absolute;
      bottom: 0;
      background-color: $projects-bg-color;
    }

    @media(min-width: $first-brake){
      .skills__section{
        width: 70%;

        .skills__h3{
          font-size: 1.8rem;
        }

        .wrapperBox__skill{
          flex-basis: 70%;

          .fab{
            font-size: 5rem;
          }

          .skill__text{
            font-size: .9rem;
          }
        }
      }
    }

    @media(min-width: $second-brake){
      .skills__section{
        width: 50%;

        .wrapperBox__skill{
          flex-basis: 70%;

          .fab{
            font-size: 5rem;
          }
        }
      }
    }

    @media(min-width: $third-brake){
      .skills__section{
        width: 60%; 

        .skills__wrapperBox{
          .wrapperBox__skill{
            flex-basis: 45%;
          }

        }
      }
    }
  }

  .projects{
    background-color: $projects-bg-color;
    color: $projects-text-color;
    min-height: 100vh;
    // box-sizing: border-box;
    padding: 50px 0 100px;

    .projects__h3{
      @include articlesH3();

      .projects__h3-blue{
        color: $main-bg-color;
        margin-left: 20px;
      }
    }

    .experience__h3{
      text-align: center;
      font-weight: 300;
      font-size: 1.5rem;
      padding: 2rem 0;
      width: 100%;
      text-align: center;
    }

    .projects__container{
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;

      .projects__example--container{
        flex-basis: 100%;
        margin: 0 5px 5px 0;
        overflow: hidden;
        border-radius: 3px;
        border: 1px solid $projects-bg-color;
        transform: scale(0);
        transition: .4s cubic-bezier(0.45, 0.41, 0, 1.6);

        .projects__exampleCommercial{
          transform: scale(1);
        }
      }

      .projects__example--container.increase{
        transform: scale(1);
      }

      .projects__example--container:hover{
        border: 1px solid $main-bg-color;
      }

      .projects__example--info{
        width: 100%;
        height: 70px;
        background-color: $project-container-color;
        display: flex;
        flex-wrap: wrap;


        .example__container{
          flex-basis: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #a3a0a0;

          .example__techContainer--header{
            font-size: .8rem;
            margin-top: 10px;
            letter-spacing: 1px;
          }

          .example__techContainer--content{
            font-size: .7rem;
            padding: 5px 10px;
            text-align: center;
            font-weight: 100;
          }
        }
      }

      .projects__example--border{
        margin: 0 10px 10px 0;
        border-radius: 3px;
        border: 1px solid $projects-bg-color;
      }

      .projects__example{
        flex-basis: 100%;
        // margin-bottom: 2rem;
        box-sizing: border-box;
        height: 200px;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
        transform: scale(0);
        transition: .4s cubic-bezier(0.45, 0.41, 0, 1.6);

        .example__title{
          position: absolute;
          top: -100%;
          left: 50%;
          color: $projects-bg-color;
          transform: translateX(-50%);
          text-transform: uppercase;
          opacity: 0;
          z-index: 1;
          width: 100%;
          text-align: center;
          transition: .4s, opacity .3s .3s;
        }

        .example__show{
          position: absolute;
          display: block;
          bottom: -100%;
          z-index: 1;
          border: 2px solid $projects-bg-color;
          // padding: 10px 0;
          width: 100px;
          // height: 41px;
          background-color: transparent;
          opacity: 0;
          transition: .4s, opacity .3s .3s;

          & a{
            text-decoration: none;
            text-transform: uppercase;
            color: $projects-bg-color;  
            cursor: pointer;
            display: block;
            width: 100%;
            height: 100%;
            padding: 10px 0;
            transition: 1s cubic-bezier(0.45, 0.41, 0, 1.6);
          }
        }

        .show--project{
          left: 75%;
          transform: translateX(-50%);
        }

        .show--code{
          left: 25%;
          transform: translateX(-50%);
        }

        .show--gallery{
          left: 50%;
          transform: translateX(-50%);
        }

        .example__show:hover{
          border: 2px solid $projects-bg-color;
          background-color: $projects-bg-color;
          color: white;
        }

        .example__show:hover a{
          color: white;
        }
      }

      .projects__example::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $white-opacity;
        z-index: 1;
        transform: translateX(-100%);
        transition: .4s cubic-bezier(0.45, 0.41, 0, 1.6);
      }

      .projects__example:hover::before{
        transform: translateX(0);
      }

      .projects__example::after{
        opacity: 1;
      }

      .projects__example:hover::after{
        opacity: .5
      }
      

      .projects__example.increase{
        transform: scale(1);
      }

      .projects__example--border:hover{
        border: 1px solid $main-bg-color;
      }

      

      .projects__example:hover .example__title{
        top: 20%;
        opacity: 1;
      }

      .projects__example:hover .example__show{
        bottom: 20%;
        opacity: 1;
      }

      .projects__example--first::after{
        @include projectImg();
        background-image: url(../img/budget-app.PNG);
      }

      .projects__example--second::after{
        @include projectImg();
        background-image: url(../img/react-countries.PNG);
      }

      .projects__example--third::after{
        @include projectImg();
        background-image: url(../img/rwd-page.PNG);
      }

      .projects__example--fourth::after{
        @include projectImg();
        background-image: url(../img/stone-paper-scisorist.PNG);
      }

      .projects__example--exp1::after{
        @include projectImg();
        background-position: unset;
        background-image: url(../img/iJunior/logo.png);
      }

      .projects__example--exp2::after{
        @include projectImg();
        background-image: url(../img/Gama/logo.jpg);
      }

      .projects__example--exp3::after{
        @include projectImg();
        background-image: url(../img/HTT/3.PNG);
      }

      .projects__example--exp4::after{
        @include projectImg();
        background-image: url(../img/mBiuro/s1.png);
      }

      .projects__example--exp5::after{
        @include projectImg();
        background-image: url(../img/alpha.PNG);
      }
      
    }

    @media(min-width: $first-brake){
      .projects__h3{
        font-size: 2rem;
      }

      .projects__container{
        width: 60%;

        .projects__example{
          height: 220px;
        }
      }
    }

    @media(min-width: $second-brake){
      
      .projects__container{
        width: 90%;
        justify-content: center;

        .projects__example--container{
          flex-basis: 48%;
        }

        .projects__example{
          flex-basis: 48%;
          height: 250px;
        }
      }
    }

    @media(min-width: $third-brake){
      .projects__container{
        width: 70%;
      }
    }
  }
  

  .contact{
    // box-sizing: border-box;
    border-bottom: 1px solid $contact-hover-color;
    border-top: 1px solid $contact-hover-color;
    background-color: $footerContact-bg-color;
    // min-height: 80vh;
    // position: relative;

    .contact__wrapper{
      color: $footerContact-text-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 80vh;
      opacity: 0;
      margin-top: 1rem;
      transition: 1s cubic-bezier(0.45, 0.41, 0, 1.6);

      .contactWrapper__informationsAndPortrait{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .contactWrapper_form{
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          width: 80%;
          margin: 0 auto;
          justify-content: space-between;
          margin-bottom: 3rem;
          position: relative;

          .form__message{
            color: $green-message;
            font-size: .6rem;
            opacity: 0;
            transition: .8s ease-in-out;
            position: absolute;
            top: -5px;
            width: 100%;
            text-align: center;

          }

          .form__message--visible{
            opacity:1
          }

          .form__inputs{
            flex-basis: 100%;
            display: flex;
            // flex-wrap: wrap;
            flex-direction: column;

            .form__input{
              flex: 1;
              background-color: $socialButtons-bg-color;
              border: none;
              padding: 12px 12px;
              margin-top: 1rem;
              color: $projects-text-color;
            }
          }

          .form__textarea{
            flex-basis: 100%;
            margin: 1rem 0;
            background-color: $socialButtons-bg-color;
            border: none;
            padding: 12px 12px;
            height: 100px;
            color: $projects-text-color;
          }

          .form__senButton{
            padding: 5px 16px;
            margin: 0;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            transition: .5s cubic-bezier(0.45, 0.41, 0, 1.6);

            .sendText{
              display: block;
            }

            .invisibleSend{
              display: none;
            }

            .eclipseContainer{
              display: none;
              width: 28px;
              height: 28px;
              background-color: transparent;
              border-radius: 100%;
              align-items: flex-end;
              justify-content: space-around;
              box-sizing: border-box;

              .eclipse{
                width: 5px;
                height: 5px;
                background-color: $about-text-color;
                border-radius: 100%;
                animation: PopUp 0.9s ease-in-out infinite;
              }
            }

            .visibleIndicator{
              display: inline-flex;
            }
            
            .eclipse:nth-child(1){
              animation-delay: 0.15s;
            }
            
            .eclipse:nth-child(2){
              animation-delay: 0.25s
            }
            
            .eclipse:nth-child(3){
              animation-delay: 0.35s
            }
            
            @keyframes PopUp{
              0%{
                transform: translateY(0px);
              }
              50%{
                transform: translateY(-4px);
              }
              100%{
                transform: translateY(0px);
              }
            }
            
          }

          .form__senButton:hover{
            background-color: $main-bg-color;
            border: 1px solid $main-bg-color;
          }
        }

        .contactWrapper__portrait{
          flex-basis: 35vw;
          filter: opacity(80%);
        

          .portrait{
            width: 100%;
            // border-radius: 5px;
            // background-color: $footerContact-bg-color;
            -webkit-box-shadow: 0px 0px 66px 27px rgba(74,176,214,0.18);
            -moz-box-shadow: 0px 0px 66px 27px rgba(74,176,214,0.18);
            box-shadow: 0px 0px 66px 27px rgba(74,176,214,0.18);
          }
        }

        .contactWrapper__informations{
          // text-align: center;
          flex-basis: 100%;
          margin: 1rem 0;
          position: relative;
          display: flex;
          flex-direction: column;
          background-color: $socialButtons-bg-color;

            .informations__h4{
              text-align: center;
              text-transform: uppercase;
              font-size: 1.5rem;
              margin-bottom: 1rem;
            }

            .informations{
              margin: 0 auto 1rem;
              font-size: .9rem;
              position: relative;
              overflow: hidden;
              padding: 5px 0;
            

              .icons{
                margin-right: 1rem;
                font-size: 1rem;
                padding-left: 2px;
                transition: .3s;
              }
           

              @keyframes rotation{
                0%{
                  transform: rotate(0deg)
                }
                
                25%{
                  transform: rotate(20deg)
                }

                50%{
                  transform: rotate(0deg)
                }
                75%{
                  transform: rotate(-20deg)
                }
              
                100%{
                  transform: rotate(0)
                }
              }
            }

            .informations--copy{
              cursor: pointer;
            }

            .informations--message{
              position: absolute;
              bottom: -15%;
              left: 50%;
              transform: translateX(-50%);
              opacity: 0;
              color: $contact-hover-color;
              font-size: .6rem;
              pointer-events: none;
              transition: .6s;
            }

            .informations::after{
              content: '';
              display: block;
              background-color: $contact-hover-color;
              position: absolute;
              width: calc(100% + 10px);
              height: 100%;
              left: calc(-100% - 10px);
              bottom: -90%;
              transition: .5s cubic-bezier(0.45, 0.41, 0, 1.6);

            }

            .informations:hover .icons{
              color: $contact-hover-color;
              animation: rotation .3s infinite;
            }

            .informations:hover::after{
              left: 0
            }
         
          
        }
      }

      

      .contactWrapper__social{
        width: 80%;
        display: flex;
        justify-content: space-around;


        .social{
          flex-basis: 30%;
          padding: 10px 0;
          background-color: $socialButtons-bg-color;
          border: none;
          margin-bottom: 1rem;
          position: relative;
          overflow: hidden;
          transition: .5s;
          
          .social__link{
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
            display: block;
            width: 100%;
            height: 100%;
            transition: .5s 
          }
        }

       .social:hover{
         background-color: $contact-hover-color;
        //  flex-basis: 42%;
            
       }

       .social:hover .social__link{
        color: $footerContact-bg-color;

       }
      }


    }

    @media(min-width: $input-break){
      .contact__wrapper{
        .contactWrapper__informationsAndPortrait{
          .contactWrapper_form{
            .form__inputs{
              flex-direction: row;
              
              .form__input--marginRight{
                margin-right: .5rem;
              }

              .form__input--marginLeft{
                margin-left: .5rem;
              }
            }
          }
        }
      }
      
    }

    @media(min-width: $first-brake){
      .contact__wrapper{
        .contactWrapper__informationsAndPortrait{
          width: 80%;
          margin: 0 auto;

          .contactWrapper_form{
            width: 100%;
          }

          .contactWrapper__portrait{
            flex-basis: 150px;
            margin-top: 50px;
          }
        }

        .contactWrapper__social{
          width: 60%;
        }
        
      }
      
    }

    @media(min-width: $second-brake){
      
        .contact__wrapper{

          .contactWrapper__informationsAndPortrait{
            background-color: $socialButtons-bg-color;

            .contactWrapper_form{
              width: 80%;
              .form__inputs{
                .form__input{
                  background-color: $header-bg-color;
                }
              }

              .form__textarea{
                background-color: $header-bg-color;
              }
            }

            .contactWrapper__portrait{
              margin-bottom: 50px;
              margin-right: 50px;
              flex-basis: 220px;
            }

            .contactWrapper__informations{
              background-color: transparent;
              flex-basis: 50%;
                .informations__h4{
                font-size: 1.4rem;
                }
                .informations{
                  font-size: 1.2rem;
                    .fas{
                      font-size: 1.4rem;
                    }
                    .far{
                      font-size: 1.4rem;
                    }
                  
                }
                .informations--message{
                  width: 100%;
                  text-align: center;
                  font-size: .9rem;
                  bottom: -20%;
                } 
            }
          }
          .contactWrapper__social{
            margin-top: 100px;
          }
        }
    }
    
    @media(min-width: $third-brake){
      .contact__wrapper{
        .contactWrapper__informationsAndPortrait{
          width: 70%;
        }
      }
     
    }
  }

  .modal__container{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background-color: $modal-blackOpacity;
  }

  .displayModal{
    display: flex;
    justify-content: center;
    align-items: center;

    .modal__mainBody{
      background-color: $header-h-color;
      padding: 20px 40px;
      box-sizing: border-box;
      flex-basis: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $skill-text-color;
      position: relative;

      .mainBody__infoCopy{
        position: absolute;
        color: $header-span-color;
        font-size: .5rem;
        font-weight: bold;
        bottom: 35%;
        pointer-events: none;
        opacity: 0;
        transition: .6s linear;

      }
      
      .mainBody__text{
        font-size: .8rem;
        line-height: 1.5rem;
        
        .copy--mail{
          cursor: pointer;
          background-color: transparent;
          border: none;
          transition: .6s ease-in;
          font-weight: bold;
        }

        .copy--mail:hover{
          color: $header-span-color;
        }
      }

      .mainBody__dismiss{
        background-color: $header-span-color;
        border: none;
        padding: 10px 20px;
        font-weight: bold;
        color: $header-h-color;
        margin-top: 40px;
        cursor: pointer;
      }
    }
  }

  @media(min-width: $first-brake){
    .modal__container{
      .modal__mainBody{
        flex-basis: 60%;
      }
    }
  }

  @media(min-width: $third-brake){
    .modal__container{
      .modal__mainBody{
        flex-basis: 40%;
      }
    }
  }
}