@import 'mixins';

main{

  .about{
    background-color: $header-bg-color;
    color: $about-text-color;
    padding-bottom: 100px;
    

    .about__wrapper{
      padding: 4rem 0;
      width: 80%;
      text-align: justify;
      margin: 0 auto;

      .about__h3{
        @include articlesH3();
      }

      .about__mainText{
        line-height: 1.6rem;
         letter-spacing: 1px;
      }
    }
  }

  .skills{
    color: $skill-text-color;
    background-color: $main-bg-color;
    position: relative;

   
    .skills__section{
      z-index: 1;
      width: 80%;      
      margin: 0 auto;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.13);
      background-color: #fff;
      position: relative;
      top: -100px;



     .skills__h3{
       @include articlesH3();
      }

      .skills__wrapperBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      .wrapperBox__skill{
        flex-basis: 80%;
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.13);
        border-radius: 10px;      
        margin-bottom: 2rem;

        .fab{
          font-size: 4rem;
          margin: 1rem 0;
        }

       .fa-html5,
       .description--html5{
          color: #e34f26;
        }

        .fa-css3-alt,
        .description--css3{
          color: #264de4;
        }

        .fa-js,
        .description--js{
          color: #F0DB4F;
        }

        .fa-react,
        .description--react{
           color: #61DBFB;
        }

       .fa-sass,
        .description--sass{
          color: #CD679A;
        }

        .fa-git,
        .description--git{
          color: #F1502F;
        }

        .skill__description{
          display: block;
           margin-bottom: 1rem;
        }


        .skill__text{
          text-align: justify;
        }
      }
    }

    .skill__fill{
      width: 100%;
      height: 200px;
      position: absolute;
      bottom: 0;
      background-color: $projects-bg-color;
    }
  }

  .projects{
    background-color: $projects-bg-color;
    color: $projects-text-color;

    box-sizing: border-box;
    padding: 2rem 0 4rem;

    .projects__h3{
      @include articlesH3();
    }

    .projects__container{
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;

      .projects__example{
        flex-basis: 100%;
        // margin-bottom: 2rem;
        height: 200px;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;

        .example__title{
          position: absolute;
          top: 20%;
          left: -100%;
          text-transform: uppercase;
          opacity: 0;
          z-index: 1;
          width: 100%;
          text-align: center;
          transition: .4s;
        }

        .example__show{
          position: absolute;
          display: block;
          bottom: 20%;
          right: -100%;
          z-index: 1;
          text-transform: uppercase;
          border: 2px solid $projects-text-color;
          padding: 10px 15px;
          background-color: transparent;
          color: $projects-text-color;
          opacity: 1;
          transition: .4s;
        }

        .example__show:hover{
          border: 2px solid $example-main-color;
          background-color: $example-main-color;
          color: white;
        }
      }

      .projects__example:hover::after{
        opacity: 0;
      }

      .projects__example:hover .example__title{
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
      }

      .projects__example:hover .example__show{
        right: 50%;
        transform: translateX(50%);
        opacity: 1;
      }
      

      .projects__example__first::after{
        @include projectImg();        
        background-image: url(../img/budget-app.png);
      }

      .projects__example__second::after{
        @include projectImg();
        background-image: url(../img/budget-app.png);
      }

      .projects__example__third::after{
        @include projectImg();
        background-image: url(../img/budget-app.png);
      }

      .projects__example__fourth::after{
        @include projectImg();
        background-image: url(../img/budget-app.png);
      }

      
    }
  }
  

  .contact{
    height: 100vh;
    background-color: red;
  }
}