@import 'mixins';
@import 'variables';


main{

  .about{
    background-color: $header-bg-color;
    color: $about-text-color;
    padding-bottom: 200px;
    // position: relative;
    overflow: hidden;
    

    .about__wrapper{
      padding: 4rem 0;
      width: 80%;
      text-align: justify;
      margin: 0 auto;

      .about__h3{
        @include articlesH3();
        position: relative;
        transform: translateX(-200%);
        transition: .6s;
      }

      .about__h3.active{
        transform: translateX(0);
      }

      .about__mainText{
        line-height: 1.6rem;
        letter-spacing: 1px;
        display: block;
        transform: scale(0);
        transition: .6s cubic-bezier(0.45, 0.41, 0, 1.6);;
      }

      .about__mainText.active{
        transform: scale(1);
      }
    }

    @media(min-width: $first-brake){
      .about__wrapper{
        width: 70%;

        .about__h3{
          font-size: 2rem;
        }
      }
    }

    @media(min-width: $second-brake){
      .about__wrapper{
       .about__mainText{
         letter-spacing: 1px;
         line-height: 2rem;
       }
      }
    }
  }

  .skills{
    color: $skill-text-color;
    // background-color: $main-bg-color;
    background-image: linear-gradient(to top, #067092 0%, #4AB0D6 100%);
    position: relative;

   
    .skills__section{
      z-index: 1;
      width: 80%;      
      margin: 0 auto;
      // border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.13);
      background-color: #fff;
      
      position: relative;
      top: -100px;
      opacity: 0;
      transition: .6s;
      // overflow: hidden;


     .skills__h3{
       @include articlesH3();
       transform: translateY(-100%);
       transition: .4s .6s;
      }

      .skills__h3.active{
        transform: translateY(0);
      }

      .skills__wrapperBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        -webkit-box-shadow: 0px 0px 66px 27px rgba(74,176,214,0.18);
        -moz-box-shadow: 0px 0px 66px 27px rgba(74,176,214,0.18);
        box-shadow: 0px 0px 66px 27px rgba(74,176,214,0.18);
      

        .wrapperBox__skill{
          flex-basis: 80%;
          text-align: center;
          border-top: 1px solid rgba(0, 0, 0, 0.13);
          padding-bottom: 2rem;
          position: relative;
          overflow: hidden;
          transition: .4s;

          .fab{
            font-size: 4rem;
            margin: 1rem 0;
            transform: translateY(-150%);
            transition: .4s;
          }

          .fa-html5,
          .description--html5{
            color: #e34f26;
          }

          .fa-css3-alt,
          .description--css3{
            color: #264de4;
          }

          .fa-js,
          .description--js{
            color: #F0DB4F;
          }

          .fa-react,
          .description--react{
           color: #61DBFB;
          }

          .fa-sass,
          .description--sass{
            color: #CD679A;
          }

          .fa-git,
          .description--git{
            color: #F1502F;
          }

          .slideFromTop{
            transform: translateY(0);
          }

          .skill__description{
            display: block;
            margin-bottom: 1rem;
            transform: scale(0);
            transition: transform .4s .4s;
            transition: letter-spacing .4s;
          } 


          .skill__text{
            text-align: justify;
            transform: scale(0);
            transition: .4s .8s;
          }

          .increase{
            transform: scale(1);
          }
        }

        .wrapperBox__skill:hover .fab{
          transform: rotate(10deg);
        }

        .wrapperBox__skill:hover .skill__description{
          letter-spacing: 2px;
        }

        
      }
    }

    .skills__section.active{
      opacity: 1;
    }

    .skill__fill{
      width: 100%;
      height: 200px;
      position: absolute;
      bottom: 0;
      background-color: $projects-bg-color;
    }

    @media(min-width: $first-brake){
      .skills__section{
        width: 70%;

        .skills__h3{
          font-size: 1.8rem;
        }

        .wrapperBox__skill{
          flex-basis: 70%;

          .fab{
            font-size: 5rem;
          }

          .skill__text{
            font-size: .9rem;
          }
        }
      }
    }

    @media(min-width: $second-brake){
      .skills__section{
        width: 50%;

        .wrapperBox__skill{
          flex-basis: 70%;

          .fab{
            font-size: 5rem;
          }
        }
      }
    }

    @media(min-width: $third-brake){
      .skills__section{
        width: 60%; 

        .skills__wrapperBox{
          .wrapperBox__skill{
            flex-basis: 45%;
          }

        }
      }
    }
  }

  .projects{
    background-color: $projects-bg-color;
    color: $projects-text-color;
    min-height: 100vh;
    // box-sizing: border-box;
    padding: 50px 0 100px;

    .projects__h3{
      @include articlesH3();
    }

    .projects__container{
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;

      .projects__example{
        flex-basis: 100%;
        // margin-bottom: 2rem;
        height: 200px;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
        transform: scale(0);
        transition: .4s cubic-bezier(0.45, 0.41, 0, 1.6);;

        .example__title{
          position: absolute;
          top: -100%;
          left: 50%;
          transform: translateX(-50%);
          text-transform: uppercase;
          opacity: 0;
          z-index: 1;
          width: 100%;
          text-align: center;
          transition: .4s, opacity .3s .3s;
        }

        .example__show{
          position: absolute;
          display: block;
          bottom: -100%;
          left: 50%;
          transform: translateX(-50%);          
          z-index: 1;
          text-transform: uppercase;
          border: 2px solid $projects-text-color;
          padding: 10px 15px;
          cursor: pointer;
          background-color: transparent;
          color: $projects-text-color;
          opacity: 0;
          transition: .4s, opacity .3s .3s;
        }

        .example__show:hover{
          border: 2px solid $example-main-color;
          background-color: $example-main-color;
          color: white;
        }

       
      }

      

      .projects__example.increase{
        transform: scale(1);
      }

      .projects__example:hover::after{
        opacity: 0;
      }

      .projects__example:hover .example__title{
        top: 20%;
        opacity: 1;
      }

      .projects__example:hover .example__show{
        bottom: 20%;
        opacity: 1;
      }

      .projects__example--first::after{
        @include projectImg();
        background-image: url(../img/budget-app.PNG);
      }

      .projects__example--second::after{
        @include projectImg();
        background-image: url(../img/images.jpg);
      }

      .projects__example--third::after{
        @include projectImg();
        background-image: url(../img/tapeciarnia.pl-103003_drzewa_chmury.jpg);
      }

      .projects__example--fourth::after{
        @include projectImg();
        background-image: url(../img/tapeciarnia.pl-95748_jesien_las.jpg);
      }
      
    }

    @media(min-width: $first-brake){
      .projects__h3{
        font-size: 2rem;
      }

      .projects__container{
        width: 60%;

        .projects__example{
          height: 220px;
        }
      }
    }

    @media(min-width: $second-brake){
      
      .projects__container{
        width: 90%;

        .projects__example{
          flex-basis: 50%;
          height: 250px;
        }
      }
    }

    @media(min-width: $third-brake){
      .projects__container{
        width: 70%;
      }
    }
  }
  

  .contact{
    // box-sizing: border-box;
    border-bottom: 1px solid $contact-hover-color;
    border-top: 1px solid $contact-hover-color;
    background-color: $footerContact-bg-color;
    // min-height: 80vh;
    // position: relative;

    .contact__wrapper{
      color: $footerContact-text-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 80vh;
      opacity: 0;
      transition: 1s cubic-bezier(0.45, 0.41, 0, 1.6);

      .contactWrapper__informationsAndPortrait{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .contactWrapper__portrait{
          // display: block;
          flex-basis: 35vw;
          filter: opacity(80%);
          // margin: 1rem 0;
          // border:none;
        

          .portrait{
            width: 100%;
            // border-radius: 5px;
            // background-color: $footerContact-bg-color;
            -webkit-box-shadow: 0px 0px 66px 27px rgba(74,176,214,0.18);
            -moz-box-shadow: 0px 0px 66px 27px rgba(74,176,214,0.18);
            box-shadow: 0px 0px 66px 27px rgba(74,176,214,0.18);
          }
        }

        .contactWrapper__informations{
          // text-align: center;
          flex-basis: 100%;
          margin: 1rem 0;
          display: flex;
          flex-direction: column;
          background-color: $socialButtons-bg-color;

            .informations__h4{
              text-align: center;
              text-transform: uppercase;
              font-size: 1.5rem;
              margin-bottom: 1rem;
            }

            .informations{
              margin: 0 auto 1rem;
              font-size: .9rem;
              position: relative;
              overflow: hidden;
              padding: 5px 0;
            

              .icons{
                margin-right: 1rem;
                font-size: 1rem;
                padding-left: 2px;
                transition: .3s;
              }
           

              @keyframes rotation{
                0%{
                  transform: rotate(0deg)
                }
                
                25%{
                  transform: rotate(20deg)
                }

                50%{
                  transform: rotate(0deg)
                }
                75%{
                  transform: rotate(-20deg)
                }
              
                100%{
                  transform: rotate(0)
                }
              }
            }

            .informations--copy{
              cursor: pointer;
            }

            .informations--message{
              display: none;
              color: $contact-hover-color;
            }

            .informations::after{
              content: '';
              display: block;
              background-color: $contact-hover-color;
              position: absolute;
              width: calc(100% + 10px);
              height: 100%;
              left: calc(-100% - 10px);
              bottom: -90%;
              transition: .5s cubic-bezier(0.45, 0.41, 0, 1.6);

            }

            .informations:hover .icons{
              color: $contact-hover-color;
              animation: rotation .3s infinite;
            }

            .informations:hover::after{
              left: 0
            }
         
          
        }
      }

      

      .contactWrapper__social{
        width: 80%;
        display: flex;
        justify-content: space-around;


        .social{
          flex-basis: 40%;
          padding: 10px 0;
          background-color: $socialButtons-bg-color;
          border: none;
          margin-bottom: 1rem;
          position: relative;
          overflow: hidden;
          transition: .5s;
          
          .social__link{
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
            display: block;
            width: 100%;
            height: 100%;
            transition: .5s 
          }
        }

       .social:hover{
         background-color: $contact-hover-color;
        //  flex-basis: 42%;
            
       }

       .social:hover .social__link{
        color: $footerContact-bg-color;

       }
      }


    }

    @media(min-width: $first-brake){
      .contact__wrapper{
        .contactWrapper__informationsAndPortrait{
          width: 80%;
          margin: 0 auto;

          .contactWrapper__portrait{
            flex-basis: 150px;
            margin-top: 50px;
          }
        }

        .contactWrapper__social{
          width: 60%;
        }
        
      }
      
    }

    @media(min-width: $second-brake){
      
        .contact__wrapper{

          .contactWrapper__informationsAndPortrait{
            background-color: $socialButtons-bg-color;
            .contactWrapper__portrait{
              margin-bottom: 50px;
              margin-right: 50px;
              flex-basis: 220px;
            }

            .contactWrapper__informations{
              background-color: transparent;
              flex-basis: 50%;
                .informations__h4{
                font-size: 1.4rem;
                }
                .informations{
                  font-size: 1.2rem;
                  .fas{
                    font-size: 1.4rem;
                  }
                  .far{
                    font-size: 1.4rem;
                  }
                } 
            }
          }
          .contactWrapper__social{
            margin-top: 100px;
          }
        }
    }
    
    @media(min-width: $third-brake){
      .contact__wrapper{
        .contactWrapper__informationsAndPortrait{
          width: 70%;
        }
      }
     
    }
  }
}