$header-bg-color: #1D1E22;
$header-h-color: #ffffff;
$project-container-color: #f5f5f5;
$header-span-color: #4AB0D6;

$about-text-color: rgb(185, 185, 185);

$skill-text-color: #1D1E22;

$main-bg-color: #4AB0D6;

$projects-bg-color: #1D1E22;
$projects-text-color: rgb(185, 185, 185);

$example-main-color: rgb(234, 32, 39);

$footerContact-text-color: rgb(156, 149, 149);
$footerContact-bg-color: #1D1E22;
$socialButtons-bg-color: #2E2F33;

$contact-hover-color: #4AB0D6;
$contact-border-color: rgba(234, 32, 39, 0.644);

$nav-hover-color: #4AB0D6;
$nav-bg-color: rgba(46, 47, 51, 0.904);
$nav-bg-colorMobile: rgb(46, 47, 51);
$modal-blackOpacity: rgba(0, 0, 0, 0.54);
// $nav-text-color: #1D1E22;

//breakpoints

$first-brake: 640px;
$second-brake: 900px;
$third-brake: 1024px;
$input-break: 720px;
$navSwitch-brake: 723px;








// #EA2027-red,