$header-bg-color: #1D1E22;
$header-h-color: #ffffff;
$header-span-color: #4AB0D6;
// $about-bg-color: #8C43FF;
$about-text-color: rgb(185, 185, 185);
$skill-text-color: #1D1E22;
$main-bg-color: #4AB0D6;
$projects-bg-color: #1D1E22;
$projects-text-color: rgb(185, 185, 185);
$example-main-color: rgb(234, 32, 39);








// #EA2027-red,